CUBEJS_DB_HOST=clickhouse
CUBEJS_DB_PORT=8123
CUBEJS_DB_NAME=analytics
CUBEJS_DB_USER=cube_analytics_reader
CUBEJS_DB_PASS=[REDACTED_SECRET]
CUBEJS_API_SECRET=[REDACTED_SECRET_MINIMUM_32_BYTES]
CUBEJS_DB_MAX_POOL=4
CUBEJS_CONCURRENCY=4
